{% extends 'base.html' %}
{% load static %}

{% block title %}
    Clubs
{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "premier/clubs.css" %}">
{% endblock css_files %}

{% block content %}
    <header id="welcome">
        <a href="{% url "standings" %}"> <img src="{% static "premier/media/logo.png" %}" alt="logo" /> </a>
        <h1>Premier league clubs</h1>
    </header>

{% for list in list %}
    <ul>
        <a href="{% url "club-detail-page" list.standings_slug %}">            
                <li id="all-clubs">
                    <img src="{{list.logo.url}}">
                    <h1> {{ list.club }}</h1>
                    <h2> {{ list.stadium }}</h2>
                </li>
            </a>
    </ul>     
{% endfor %} 
{% endblock content %}
