body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  .site-navigation a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  
  .site-navigation a:hover{
    color: rgb(153, 153, 194);
  }
  
  .site-header { 
    padding: .5em 1em;
  }
  
  .site-navigation {
    float: right;
    color: white;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 2em 1em 1em 1em;
    }
  
  #welcome {
      background: linear-gradient(45deg, rgba(58,0,61,1) 0%, rgba(45,5,82,1) 50%, rgba(15,15,131,1) 100%, rgba(0,212,255,1) 100%);
      padding: 6rem 1rem;
      height: 100px;
    }
    
    #welcome img{
      width: 100px;
      object-fit: cover;
      object-position: top;
      float: left;
      margin-left: 3rem;
    }
    
    #welcome h1{
      font-family: "Radikal";
      font-weight: 900;
      font-size: 4rem;
      margin-left: 13rem;
      color: #ffffff;
      margin-top: 30px;
    
    }

ul{
    list-style: none;
}
    
#all-clubs {
    margin-left: 5rem;
    float: left;
    margin-top: 4rem;
    width: 17%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: inline-block;
    text-align: center;
}

#all-clubs img{
    margin-top: 10px;
    width: 9rem;
    margin-bottom: 1rem;
}

h1{
    font-size: 20px;
  }

h2{
    font-size: 15px;
    color: rgb(67, 66, 66);
}

ul a{
  color: black;
}

ul a:hover{
  color: #3a003d;
}

