body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

a:hover{
  color: rgb(153, 153, 194);
}

.site-header { 
  padding: .5em 1em;
}

.site-navigation {
  float: right;
  color: white;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 2em 1em 1em 1em;
  }

#welcome {
    background: linear-gradient(45deg, rgba(58,0,61,1) 0%, rgba(45,5,82,1) 50%, rgba(15,15,131,1) 100%, rgba(0,212,255,1) 100%);
    padding: 6rem 1rem;
    height: 100px;
  }
  
  #welcome img{
    width: 100px;
    object-fit: cover;
    object-position: top;
    float: left;
    margin-left: 3rem;
  }
  
  #welcome h1{
    font-family: "Radikal";
    font-weight: 900;
    font-size: 4rem;
    margin-left: 13rem;
    color: #ffffff;
    margin-top: 30px;
  
  }
  
.post a{
  text-decoration: none;
  color: black;
}

.post a:hover{
  color: #3A003D;
}

ul{
  list-style-type: none;
}
 
.post{
  margin-left: 3rem;
  margin-top: 4rem;
  width: 60%;
  line-height: 20px;
  height: 15rem;
  display: block;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.post img{
  margin-top: 2rem;
  width: 300px;
  float: left;
  margin-right: 20px;
}

.post ul{
  list-style: none;
}

.post h3{
  font-size: 25px;
  line-height: 40px;
  margin-bottom: 10px;
}

.post p{
  color: rgb(97, 96, 96);
  font-size: 15px;
}